<html lang="pt-br">

<head>
</head>
<style>
</style>

<body class="bg-light">

    <div class="container" style="max-width: 600px !important;margin: 50px auto; border">
        <div class="card text-center" style="
        background-color: #fff;
        color: #333;
        padding: 20px;
        border: none !important;
        border-radius: 15px;
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
        animation: fadeIn 1s ease-in-out;
        text-align:center;
        ">
            <h2 id="confirmado"
            style="font-size: 24px;
                font-weight: bold;
                color: #FF8040;
                background: #f8f9fa;
                padding: 10px;
                border-radius: 10px;
                display: inline-block;
                margin: 0;"
            >🎉 Seu ebook chegou! 🎉</h2>
            <p>
                Baixe seu ebook em anexo
                <br>
                ou
                <br>
                Clique <a href="-ebook-">aqui</a> para visualizar online!
            </p>
        
            
            <br>
            <img src="https://portal.unifil.br/static/templates/unifil/assets/images/logoPortal.png" alt="UniFil" \>
        </div>
    </div>
</body>

</html>